<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="zoom: 0.8">
<div style="width: 100%;height: 300px;background-color:red" ></div>
 123ewqewqewqe 123ewqewqewqe 123ewq
ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqeewqewq
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq123ewqewqewqe
 ewqewqewq
</body>
</html>
